@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Monoton');

html {
  background-image: url(../../content/assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* margin: 30px; */
  font-family: sans-serif;
  box-sizing: border-box;
  padding:0px;
  margin:0px;
}
a:hover {
  color: black;
  cursor: pointer;
}
body{
  box-sizing: content-box;

}